*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    background-image: linear-gradient(100deg,rgb(0, 0, 8),rgb(19, 82, 125));
}
.container-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

}
.container-menu h3{
    padding: 30px;
}
 
.container-menu nav ul{
   display: flex;
   list-style: none;


}

.container-menu nav ul li a{
 color: white;
 text-decoration: none;
 margin:20px;
 
}

.container-menu nav ul li a:hover{
    color: darkred;
   }

.container-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

.container-home img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid white;
}
.container-home img:hover{
    border: 4px solid crimson;

}
.container-home h3{
    text-align: center;
    color: white;
}
.container-home p{
    color: white;
    margin-top: 0px;
    padding: 5px;

}

.container-projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    
}

.container-projetos h1{
    position: absolute;
    margin-top: 65px;
    color: white;
}
.container-projetos aside{
    margin-top: 60px;
    width: 280px;
    height: 280px;
    margin: 20px;
    margin-top: 60px; 
}
.container-projetos aside div img{
    margin-top: 60px;
    width: 100%;
    height: 100%;
    border-radius: 30px;

}

.container-projetos aside h4{
    color: white;
    text-align: center;
}
.container-projetos aside p{
    width: 100%;
    background-color: darkblue;
    border-radius: 5px;
    margin-top: 5px;
    border: 3px solid white;

}
.container-projetos aside p:hover{
    background-color: crimson;
}
.container-projetos aside p a{
    text-decoration: none;
    color: white;
}

.container-abouts{
    width: 100%;
    height: 100vh;
}

.container-abouts .content-abouts h3{
    margin-left: 20px;
    margin-top: 40px;
    color: white;
}

.container-abouts h1,p{
    text-align: center;
    margin-top: 70px;
    color: white;

}

.container-abouts .content-abouts li{
    margin-left: 40px;
    margin-top: 20px;
    color: white;

}
.content-abouts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.content-hobbies{
    width: 300px;
    border: 2px solid white;
    margin-top: 20px;
}.content-hobbies ul{
    padding: 40px;
    padding-bottom: 60px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: black;
}
#btn-mobile{
    display: none;
    
}

@media screen and (min-width:0px) and (max-width:800px){
    .container-abouts{
        width: 100%;
        height: 150vh;
    
    }
    .menu{
       display: flex;
       flex-direction: column;
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0px;
       background-color: gray;
       z-index: 1000;
       height: 0px;
       transition: .6s;
       visibility: hidden;
       overflow-y:hidden;
       margin-top: -20px;
    }


#nav.active .menu{
    height: 100vh;
    visibility: visible;
    overflow-y:auto;

}
#nav.active .menu li{
 margin-top: 10px;
 text-align: justify;
}
.menu a{
    padding: 1rem 0;
    border: 2px soli rgba(0, 0, 0, 0.5);
}

#btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;

}
.hamburger{
    border-top:2px solid red;
    width: 20px;
}
.hamburger::after,.hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: red;
    margin-top: 5px;
    transition: 3.s;
    position: relative;
}
#nav.active .hamburger{
    border-top-color: transparent;
}
#nav.active .hamburger::before{
 transform: rotate(135deg);
}

#nav.active .hamburger::after{
    transform: rotate(-135deg);
    top: -7px;

}
}